/* General Styling
*/
body {
    text-align: center;
}

h1 {
    text-align: center;
}

input {
    margin: 4px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    width: 150px;
}

i {
    padding-left: 4px;
}

p {
    display: inline-block;
    width: 60%;
    text-align: left;
}

/* Home Styling
*/
#sub-header {
    text-align: center;
}

#search-bar {
    padding-left: 10%;
    float: left;
}

a.login-user-link {
    color: darkgray;
    display: inline-block;
    float: right;
    padding-right: 10%;
}

#featured-property {
    margin-top: 48px;
    display: inline-block;
}

#featured-property #featured-property-info {
    text-align: right;
}

/* Login Styling
*/
#login {
    display: inline-block;
    text-align: left;
}

a.register {
    float: right;
}

/* Register Styling
*/
#register {
    display: inline-block;
    text-align: left;
}

/* Search Styling
*/
#search {
    display: inline-block;
    text-align: left;
}

/* Header/Footer Styling
*/
#header {
    width: 80%;
    margin: 0 auto
}

#footer {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 80px;
    width: 80%;
    margin: 0 auto;
}

a.footer {
    color: darkgray;
    text-decoration: none;
}

#footer-left {
    text-align: left;
}

#footer-right {
    float: right;
    display: inline-block;
}